build/

# MacOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Vim Temporary Files
tags
*.swp
*.swo
*.swpx
*.un~

# IDE/Editor Configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
